<section class="contenido scroll">
    <h1>Herramientas</h1>     
  <div class="container">
    <div class="row row-cols-auto">
    <div *ngFor="let item of herramientasList" class="text-center"> 
          <div class="card col">
            <div class="barra">
                    <app-tarjeta-circulo [progreso]="item.progreso" [nombre]="item.nombre" ></app-tarjeta-circulo>
            </div>
            <div class="botonera">
               <button *ngIf="usuarioAutenticado" class="myButton" data-bs-toggle="modal" data-bs-target="#editarHerramientas" (click)="almacenarId(item)" (click)="mostrarDatos(item)"><i class="fas fa-edit"></i></button>
               <button *ngIf="usuarioAutenticado" class="myButton" (click)="eliminarHerramienta(item)"><i class="fas fa-trash-alt"></i></button>
            </div>
          </div>  
    </div>
    </div>
  </div>

 <!-- Modal -->
 <div class="modal fade" id="editarHerramientas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Editar Herramienta</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form [formGroup]="form">
           <div class="mb-3">
             <label for="fullName" class="form-label">Herramienta</label>
             <input type="text" class="form-control" id="nombre" formControlName="nombre">
             <div *ngIf="nombre?.invalid && nombre?.touched">
               <div *ngIf="nombre?.errors?.['required']" class="text-danger">
                  La herramienta es requerida
               </div>
             </div>
           </div>
           <div class="mb-3">
             <label for="title" class="form-label">Progreso</label>
             <input type="text" class="form-control" id="progreso" formControlName="progreso">
           </div>
       
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" id="cerrarModalHerramientas" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary" (click)="guardarDatos()">Guardar</button>
       
     </div>
   </div>
 </div>
</div>
<div style="text-align:center">
<button *ngIf="usuarioAutenticado" class="myButton" data-bs-toggle="modal" data-bs-target="#agregarHerramienta"><i class="fas fa-plus"></i></button><br>
</div>


    <!-- Modal -->
    <div class="modal fade" id="agregarHerramienta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nueva Herramienta</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="form">
              <div class="mb-3">
                <label for="herramienta" class="form-label">Herramienta</label>
                <input type="text" class="form-control" id="nombre" formControlName="nombre">
              </div>
              <div class="mb-3">
                <label for="progreso" class="form-label">Progreso</label>
                <input type="text" class="form-control" id="progreso" formControlName="progreso">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="cerrarModalHerramientaNueva" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="agregarHerramienta()">Guardar</button>
          </div>
        </div>
      </div>
    </div>
          
</section>
               
      
      
    
